<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bullet01.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>805</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>bullet02.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>775</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>bullet03.png</key>
		<dict>
			<key>x</key>
			<integer>970</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>bullet04.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>36</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>36</integer>
		</dict>
		<key>bullet05.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>699</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>bullet06.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>458</integer>
			<key>width</key>
			<integer>21</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet07.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet08.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>500</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet08_1.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>500</integer>
			<key>width</key>
			<integer>18</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet08_2.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>560</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet08_3.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>500</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>18</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>bullet09.png</key>
		<dict>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>458</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet09_1.png</key>
		<dict>
			<key>x</key>
			<integer>307</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet09_2.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>458</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet09_3.png</key>
		<dict>
			<key>x</key>
			<integer>1008</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>42</integer>
		</dict>
		<key>bullet010.png</key>
		<dict>
			<key>x</key>
			<integer>989</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>bullet010_1.png</key>
		<dict>
			<key>x</key>
			<integer>970</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>bullet010_2.png</key>
		<dict>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>bullet010_3.png</key>
		<dict>
			<key>x</key>
			<integer>1005</integer>
			<key>y</key>
			<integer>96</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>43</integer>
		</dict>
		<key>bullet011.png</key>
		<dict>
			<key>x</key>
			<integer>1005</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>bullet011_1.png</key>
		<dict>
			<key>x</key>
			<integer>1005</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>bullet011_2.png</key>
		<dict>
			<key>x</key>
			<integer>842</integer>
			<key>y</key>
			<integer>153</integer>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>fish10_01.png</key>
		<dict>
			<key>x</key>
			<integer>865</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>699</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_04.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_05.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>512</integer>
			<key>width</key>
			<integer>143</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_06.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>535</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_07.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_08.png</key>
		<dict>
			<key>x</key>
			<integer>718</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_09.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>416</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_10.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>141</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>699</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>560</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>560</integer>
			<key>width</key>
			<integer>151</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-10.5</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish10_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>835</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>173</integer>
			<key>originalHeight</key>
			<integer>205</integer>
		</dict>
		<key>fish16_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>707</integer>
			<key>y</key>
			<integer>698</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-18.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>707</integer>
			<key>y</key>
			<integer>778</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish17_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>368</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>226</integer>
			<key>width</key>
			<integer>350</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>361</integer>
			<key>height</key>
			<integer>210</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish18_01.png</key>
		<dict>
			<key>x</key>
			<integer>707</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>835</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_03.png</key>
		<dict>
			<key>x</key>
			<integer>603</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_04.png</key>
		<dict>
			<key>x</key>
			<integer>694</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>934</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_06.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>789</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_07.png</key>
		<dict>
			<key>x</key>
			<integer>724</integer>
			<key>y</key>
			<integer>153</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_08.png</key>
		<dict>
			<key>x</key>
			<integer>908</integer>
			<key>y</key>
			<integer>778</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_09.png</key>
		<dict>
			<key>x</key>
			<integer>707</integer>
			<key>y</key>
			<integer>855</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_10.png</key>
		<dict>
			<key>x</key>
			<integer>865</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_catch_01.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_catch_02.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>885</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_catch_03.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>929</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>fish18_catch_04.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>872</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>hc_01.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>698</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_02.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_03.png</key>
		<dict>
			<key>x</key>
			<integer>748</integer>
			<key>y</key>
			<integer>512</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_04.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>793</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_05.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>700</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_06.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_07.png</key>
		<dict>
			<key>x</key>
			<integer>788</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_08.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>735</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_09.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>638</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_10.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_11.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>832</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_12.png</key>
		<dict>
			<key>x</key>
			<integer>884</integer>
			<key>y</key>
			<integer>415</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_13.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>512</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_14.png</key>
		<dict>
			<key>x</key>
			<integer>849</integer>
			<key>y</key>
			<integer>512</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_15.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>hc_16.png</key>
		<dict>
			<key>x</key>
			<integer>912</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>num_0.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>873</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_1.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>560</integer>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_2.png</key>
		<dict>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>699</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_3.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>934</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_4.png</key>
		<dict>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>737</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_5.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>835</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_6.png</key>
		<dict>
			<key>x</key>
			<integer>293</integer>
			<key>y</key>
			<integer>775</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_7.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>638</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_8.png</key>
		<dict>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<integer>600</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_9.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>972</integer>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>num_x.png</key>
		<dict>
			<key>x</key>
			<integer>989</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
	</dict>
</dict>
</plist>