<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>achievement_gray.png</key>
		<dict>
			<key>x</key>
			<integer>632</integer>
			<key>y</key>
			<integer>896</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>bk_01.png</key>
		<dict>
			<key>x</key>
			<integer>422</integer>
			<key>y</key>
			<integer>939</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_02.png</key>
		<dict>
			<key>x</key>
			<integer>764</integer>
			<key>y</key>
			<integer>587</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_03.png</key>
		<dict>
			<key>x</key>
			<integer>977</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>42</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_04.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>587</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_05.png</key>
		<dict>
			<key>x</key>
			<integer>777</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_06.png</key>
		<dict>
			<key>x</key>
			<integer>632</integer>
			<key>y</key>
			<integer>962</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_07.png</key>
		<dict>
			<key>x</key>
			<integer>717</integer>
			<key>y</key>
			<integer>377</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_08.png</key>
		<dict>
			<key>x</key>
			<integer>567</integer>
			<key>y</key>
			<integer>896</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_09.png</key>
		<dict>
			<key>x</key>
			<integer>937</integer>
			<key>y</key>
			<integer>372</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_10.png</key>
		<dict>
			<key>x</key>
			<integer>567</integer>
			<key>y</key>
			<integer>829</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_11.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>939</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_12.png</key>
		<dict>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>929</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_13.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>372</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_14.png</key>
		<dict>
			<key>x</key>
			<integer>632</integer>
			<key>y</key>
			<integer>829</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_15.png</key>
		<dict>
			<key>x</key>
			<integer>779</integer>
			<key>y</key>
			<integer>377</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_16.png</key>
		<dict>
			<key>x</key>
			<integer>567</integer>
			<key>y</key>
			<integer>962</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_17.png</key>
		<dict>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_18.png</key>
		<dict>
			<key>x</key>
			<integer>831</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_19.png</key>
		<dict>
			<key>x</key>
			<integer>977</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_20.png</key>
		<dict>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>587</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_21.png</key>
		<dict>
			<key>x</key>
			<integer>934</integer>
			<key>y</key>
			<integer>582</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_22.png</key>
		<dict>
			<key>x</key>
			<integer>971</integer>
			<key>y</key>
			<integer>582</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_23.png</key>
		<dict>
			<key>x</key>
			<integer>860</integer>
			<key>y</key>
			<integer>582</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bk_24.png</key>
		<dict>
			<key>x</key>
			<integer>897</integer>
			<key>y</key>
			<integer>582</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>fish16_01.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>955</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_02.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>918</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_03.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>767</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_04.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>844</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_05.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>989</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_06.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>881</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_07.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_08.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>639</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_09.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>684</integer>
			<key>width</key>
			<integer>231</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish16_10.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>806</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>fish17_01.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>639</integer>
			<key>width</key>
			<integer>356</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_02.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>358</integer>
			<key>height</key>
			<integer>197</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-8.5</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>656</integer>
			<key>width</key>
			<integer>357</integer>
			<key>height</key>
			<integer>206</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>354</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>222</integer>
			<key>width</key>
			<integer>357</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_06.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>363</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_08.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>222</integer>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>net01.png</key>
		<dict>
			<key>x</key>
			<integer>887</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>net02.png</key>
		<dict>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>829</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>net03.png</key>
		<dict>
			<key>x</key>
			<integer>357</integer>
			<key>y</key>
			<integer>829</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>110</integer>
		</dict>
		<key>net04.png</key>
		<dict>
			<key>x</key>
			<integer>887</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>net05.png</key>
		<dict>
			<key>x</key>
			<integer>860</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>net06.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>145</integer>
			<key>originalHeight</key>
			<integer>145</integer>
		</dict>
		<key>net07.png</key>
		<dict>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>222</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>150</integer>
		</dict>
		<key>net08.png</key>
		<dict>
			<key>x</key>
			<integer>717</integer>
			<key>y</key>
			<integer>222</integer>
			<key>width</key>
			<integer>155</integer>
			<key>height</key>
			<integer>155</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>155</integer>
			<key>originalHeight</key>
			<integer>155</integer>
		</dict>
		<key>net09.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>862</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>net010.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>862</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>net011.png</key>
		<dict>
			<key>x</key>
			<integer>723</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>164</integer>
			<key>originalHeight</key>
			<integer>164</integer>
		</dict>
	</dict>
</dict>
</plist>